@model List<Supplier>
@{
}

<div class="page">
    <div class="page-title d-flex align-items-center gap-3">
        <h3>List Suppliers</h3>
    </div>
    <a class="btn btn-primary" asp-controller="Suppliers" asp-action="Create">+ Add Supplier</a>
    <table class="dashboard-table table table-bordered table-striped mt-4">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Code</th>
                <th scope="col">Supplier Name</th>
                <th scope="col">Contact</th>
                <th scope="col">Address</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var supplier in Model)
            {
                <tr>
                    <td>@supplier.Date.ToShortDateString()</td>
                    <td>@supplier.SupplierCode</td>
                    <td>@supplier.SupplierName</td>
                    <td>@supplier.Contact</td>
                    <td>@supplier.Address</td>
                    <td>
                        <a class="btn btn-success" asp-controller="Suppliers" asp-action="Edit" asp-route-id="@supplier.Id">Edit</a>
                        <a class="btn btn-danger delete-btn" asp-controller="Customers"
                       asp-action="Delete" asp-route-id="@supplier.Id" data-id="@supplier.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Delete Modal -->
<partial name="Partial/_PartialDeleteModal" />

@section Scripts {
<script type="text/javascript">
    $(".delete-btn").on("click", function() {
        event.preventDefault();
        $("#confirmDelete").attr("data-id", $(this).attr("data-id"));
        var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
        deleteModal.toggle();
    });

    $("#confirmDelete").on("click", function() {
        const url = "/Customers/Delete";
        const id = $("#confirmDelete").attr("data-id");
        $.ajax({
            type: "POST",
            url: url,
            data: { id },
            success: function(res) {
                if (res.success) {
                    location.href = "/Customers";
                }
            }
        });
    });
</script>
}